body{
    background-color: rgb(185, 131, 15);
}

.el-logo{
width: 100px;
height: 60px;
}
.usuario{
width: 200px;
height: 200px;
}
.presentacion{
    margin-top: 100px;
    text-align: center;
}
.el-que-sea{
width: 500px;
height: 400px;
border-radius: 5%;

}
.secundario{
 text-align: center;
}
.descripcion{
    text-align: center;
    background-color: rgb(13, 25, 41);
    font-size: 30px;
    color: rgb(180, 165, 202);
    margin-top: 3%;
    /*Alinear al centro verticalmente*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contenedor-experiencia{
    background-color:rgb(123, 126, 172);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid;
    margin: 50px;
     /*Alinear al centro verticalmente*/
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
    
}
.columna{
    padding: 20px;
    border: 2px solid;
}
.columna:hover{
    background-color: rgb(27, 21, 31);
    color: rgb(109, 128, 128);
    transition: all 0.2s ease;

}

.contenedor-experiencia i{
   font-size: 2.5em;
  background-color: rgb(87, 30, 30);
  padding: 8px 19px;
  border-radius: 50%;
  color: rgb(17, 17, 17);
}

.seccion-proyectos{
    text-align: center;
}

.section-articulos{
    /*Alinear al centro verticalmente*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}